.task {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  display: column;
  height: 13rem;
  margin: 0.3rem;
  width: 13rem;

  &__header {
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #fff;
    display: flex;
    font-family: 'Montserrat';
    height: 1.8rem;
    justify-content: center;
    padding: 2px;
    position: relative;
    text-align: center;
  }

  &__content {
    color: #000;
    margin: 0.5rem;
    overflow-wrap: break-word;
  }

  &__icons {
    position: absolute;
    right: 5px;
  }
}
