.column {
  border-radius: 0.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: column;
  display: column;
  min-height: 36rem;
  width: 14rem;

  &__header {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: 'Gotham';
    font-weight: 600;
    height: 2rem;
    justify-content: center;
  }

  &__content {
    background-color: #95a5a6;
    color: #000;
    margin: 0.5rem;
    overflow-wrap: break-word;
  }
}
