.column-list {
  &__add-task-button {
    align-items: center;
    background-color: #ecf0f1;
    border: solid transparent;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.25rem;
    transition-duration: 0.4s;
    width: 94%;

    &:hover {
      background-color: #ebebeb;
    }
  }

  &__task-list {
    max-height: 69.3vh;
    overflow-y: auto;
    position: relative;
  }
}
