/* stylelint-disable */
.manage-column-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__exit-button {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  &__error {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #d32f2f;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 0;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
    // background-image: linear-gradient(
    //   to left,
    //   violet,
    //   indigo,
    //   blue,
    //   green,
    //   yellow,
    //   orange,
    //   red
    // );
    background-color: #2c3e50;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
